@use "../styles/index" as *;

.book-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(20px);
  &.fallback {
    margin-top: rem(20px);
  }
}

@include max(d-991){
  .book-list{
    grid-template-columns: repeat(2,1fr);
  }
}

@include max(d-640){
  .book-list{
    grid-template-columns: repeat(1,1fr);
  }
}